.custom-img {
  max-height: 20rem;
  object-fit: contain;
}

.card-custom {
  transition: transform 0.3s;
}

.card-custom:hover {
  transform: scale(1.03);
}

@media (max-width: 991.98px) {
  .card-custom:hover {
    transform: none;
  }
}
